<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IIT Ropar</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap" rel="stylesheet">
</head>
<body style="background-image: url('../static/images/iitrpr.png');">
<div class="navbar">
    <div style="font-family: 'Cinzel', serif;color:white;font-size: 340%;margin-left: 20vw;padding-top: 2vh;">
        IIT Ropar
    </div>
</div>
<div class="wrapper">
	<input type="text" class="input" 
	placeholder="What are you looking for?">
	<div class="searchbtn"><i class="fas fa-search"></i></div>
</div>

</body>
</html>